@import "variables";

main {
  width: 100%;

  .apresentacao {
    min-height: 90vh;
    display: flex;

    &__infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;

      p {
        font-size: rem(18);
        font-weight: 500;
        color: $gray;
        margin-top: rem(18);
      }

      .apresentacao__container-botoes {
        margin-top: rem(35);

        .btn {
          min-width: rem(143);
          height: rem(42);
          box-sizing: border-box;
          font-size: rem(14);
          font-weight: 500;
          font-family: "DM Sans", sans-serif;

          cursor: pointer;
        }

        .btn-primario {
          background-color: $green-light;
          border: none;
          margin-right: rem(15);
        }

        .btn-secundario {
          background-color: transparent;
          color: $white;
          border: 1px solid $gray-200;
        }
      }
    }

    &__img-vector {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 50%;

      img {
        max-width: 300px;
      }
    }
  }

  .sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sobre-mim__descricao {
      text-align: center;
      width: 60%;

      h2 {
        margin: rem(30) 0;
      }

      p {
        font-size: rem(18);
        line-height: rem(32);
        font-weight: 400;
        color: $gray;
      }
    }

    .sobre-mim__redes-sociais {
      margin: rem(85) 0;
      display: flex;
      gap: rem(100);

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        .sobre-mim__redes-sociais--border-circle {
          border-radius: 50%;
          padding: rem(15);
          background-color: $gray-400;
        }

        h5 {
          margin: rem(5) 0;
          font-size: rem(18);
          font-weight: 700;
          color: $white;
        }

        p {
          font-size: rem(16);
          font-weight: 400;
          color: $gray;
        }
      }
    }
  }

  .projetos {
    h2 {
      text-align: center;
      margin-top: rem(32);
    }

    .projetos__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: rem(32);

      .projetos__container-card {
        background-color: $gray-400;
        width: rem(350);
        height: rem(240);
        padding: rem(25) rem(20);
        margin-bottom: rem(32);

        .img-card {
          border: 1px solid $gray-200;
          background-color: $dark;
          width: 100%;
          height: rem(130);
        }

        .descricao-projetos {
          margin-top: rem(23);

          p {
            color: $white;
            font-size: rem(18);
            font-weight: 500;
          }

          span {
            color: $gray;
            font-size: rem(14);
            font-weight: 400;
          }
        }
      }
    }
  }
}
