@import "partials/typography";
@import "partials/variables";
@import "partials/header";
@import "partials/main";
@import "partials/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: $dark;
  max-width: 1140px;
  min-height: 100vh;
  margin: 0 auto;
}
